@import url('https://fonts.googleapis.com/css?family=Rye|Ubuntu');

	// font-family: 'Rye', cursive;         **Caps**
	// font-family: 'Ubuntu', sans-serif;   **Text**

	// ***Color Palette***
	// Cyan: #04E6CF
	// Dark Cyan: #00919B
	// Pink: #FF80C4
	// Gray: #3C4F5E
	// Cream: #F6ECE9

$cyan: #04E6CF;
$dark-cyan: #00919B;
$pink: #FF80C4;
$gray: #3C4F5E;
$cream: #F6ECE9;

body {
	background-color: $gray;
}

.site-wrapper {
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
}

.header {
	margin: auto;	
}

.header h1 {
	font-family: 'Rye', cursive;
	color: $pink;
}

.content {
	color: $cream;
}

.footer {
	margin: auto;
}
